.b-timer-zone{
    margin: auto;
    margin-top: 100px;
    width: 400px;
    color: #550000;
    font-size: 40pt;
    text-align: center;
    background: #dd4444;
    border-radius: 10px;
    border: 3px solid #993333;
}

.b-to-do-list{
    margin: auto;
    margin-top: 100px;
}

.b-to-do-list__to-do{
    width: 600px;
    margin: auto;
    margin-top: 10px;
    font-size: 24px;
    background: #dddddd;
    border-radius: 10px;
    border: 3px solid #aaaaaa;
    color: #111111;
    display: flex;
}

.b-to-do-list__to-do_w500{
    width: 500px;
    margin: auto;
    text-align: end;
}

.b-to-do-list__check{
    width: 50px;
    margin: auto;
    text-align: end;
}
